<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <title>Audience page</title>
</head>
<body>
    <h1>Some title i will add later</h1>
    <h2>Live content</h2>
    <div class="live-content">
        <div class="game cricket">
            <div class="match-summary">
                CSK Vs MI Live
            </div>
            <div class="audio-player">
                <audio controls id="audio-player-ipl"></audio>
            </div>
        </div>
        <div class="game football">
            <div class="match-summary">
               Liverpool Vs Arsenal Live
            </div>
            <div class="audio-player">
                <audio controls></audio>
            </div>
        </div>
        <div class="game f1">
            <div class="match-summary">
               Sochi Grand Prix 2020 Live
            </div>
            <div class="audio-player">
                <audio controls></audio>
            </div>
        </div>
    </div>
    <h2>Podcasts</h2>
    <div class="podcast">
        <div class="football-podcast">
            <div class="match-summary">
                Arsenal Podcast
            </div>
            <div class="audio-player">
                <iframe src="https://open.spotify.com/embed-podcast/show/1SVMx3YGLpZZByyRli8IgY" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="f1-podcast">
            <div class="match-summary">
                F1 Podcast
            </div>
            <div class="audio-player">
                <iframe src="https://open.spotify.com/embed-podcast/show/3P2RsaP89xP1xvG7twj8pd" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="cricket-podcast">
            <div class="match-summary">
                Cricket Podcast
            </div>
            <div class="audio-player">
                <iframe src="https://open.spotify.com/embed-podcast/show/43mTFxSHXF7Xtvjx4TF0Dc" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
         
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="audienceScript.js"></script>
</body>
</html>
