<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commentary</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Kuch to likhunga</h1>
    <div class="redirector">
        <a  href="audience">Explore Content</a>
        <a href="recording">Create Content</a>
    </div>
</body>
</html>